{
	email {$ACME_EMAIL}
}

{$DOMAIN} {
	encode zstd gzip

	handle /jenkins/* {
		reverse_proxy trf_jenkins:8080
	}

	handle /jenkins {
		redir /jenkins/ permanent
	}

	handle {
		reverse_proxy trf_frontend:80
	}
}
